<div class="container">
    <h2>My Pets</h2>
    <form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet Name</th>
                        <th>Doctor Name</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Next Scheduled Visit</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in pets">
                        <td>{{ x.Id }}</td>
                        <td>{{ x.Name }}</td>
                        <td>{{ x.DoctorName }}</td>
                        <td>{{ getType(x.Type)}}</td>
                        <td>{{ calcAge(x.DateOfBirth) }}</td>
                        <td>{{ getGender(x.Gender)}}</td>
                        <td>{{ x.NextVisit }}</td>
                        <td><a type="button" class="btn btn-sm btn-primary" href="#/PatientPage?id={{x.Id}}">View Pet</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <a type="button" class="btn btn-lg btn-primary pull-right" href="#/PatientPage">Add Pet</a>
            </div>
        </div>
    </form>
</div>
