<div class="container">
    <h2>My Patients</h2>
    <form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet Name</th>
                        <th>Owner Name</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Next Scheduled Visit</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in pets">
                            <td>{{ x.Id }}</td>
                            <td>{{ x.Name }}</td>
                            <td>{{ x.OwnerName }}</td>
                            <td>{{ getType(x.Type)}}</td>
                            <td>{{ calcAge(x.DateOfBirth) }}</td>
                            <td>{{ getGender(x.Gender)}}</td>
                            <td>{{ x.NextVisit }}</td>
                            <td><a type="button" class="btn btn-sm btn-primary" href="#/PatientPage/{{x.Id}}">View Pet</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
