        
<div class="container">
    <h2>My Pets</h2>
    <form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet Name</th>
                        <th>Doctor Name</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Next Scheduled Visit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nalla</td>
                        <td>Dr. Orly Netanel</td>
                        <td>Cat</td>
                        <td>6.1</td>
                        <td>Female</td>
                        <td>01.09.2016</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Clara</td>
                        <td>Dr. Orly Netanel</td>
                        <td>Cat</td>
                        <td>0.9</td>
                        <td>Female</td>
                        <td>01.10.2016</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mika</td>
                        <td>Dr. Effi Vagshal</td>
                        <td>Parrot</td>
                        <td>2.6</td>
                        <td>Female</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Jullie</td>
                        <td>Dr. Effi Vagshal</td>
                        <td>Parrot</td>
                        <td>1.6</td>
                        <td>Female</td>
                        <td>01.01.2017</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-lg btn-primary pull-right">Add Pet</button>
            </div>
        </div>
    </form>
</div>
