<div class="container">
    <h2>{{ sharedVariables.role === 'Owner' ? 'My Pets':'My Patients'}}</h2>
    <form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th ng-click="sortBy('Id')">
                                <span class="sortorder" ng-show="propertyName === 'Id'" ng-class="{reverse: reverse}"></span>#</th>
                        <th ng-click="sortBy('Name')">
                                <span class="sortorder" ng-show="propertyName === 'Name'" ng-class="{reverse: reverse}"></span>Pet Name</th>
                        <th ng-click="sortBy('DoctorName')" ng-show="sharedVariables.role === 'Owner'">
                                <span class="sortorder" ng-show="propertyName === 'DoctorName'" ng-class="{reverse: reverse}"></span>Doctor Name</th>
                        <th ng-click="sortBy('OwnerName')" ng-show="sharedVariables.role === 'Doctor'">
                                <span class="sortorder" ng-show="propertyName === 'OwnerName'" ng-class="{reverse: reverse}"></span>Owner Name</th>
                        <th ng-click="sortBy('Type')">
                                <span class="sortorder" ng-show="propertyName === 'Type'" ng-class="{reverse: reverse}"></span>Type</th>
                        <th ng-click="sortBy('DateOfBirth')">
                                <span class="sortorder" ng-show="propertyName === 'DateOfBirth'" ng-class="{reverse: reverse}"></span>Age</th>
                        <th ng-click="sortBy('Gender')">
                                <span class="sortorder" ng-show="propertyName === 'Gender'" ng-class="{reverse: reverse}"></span>Gender</th>
                        <th ng-click="sortBy('NextVisit')">
                                <span class="sortorder" ng-show="propertyName === 'NextVisit'" ng-class="{reverse: reverse}"></span>Next Scheduled Visit</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in pets | orderBy:propertyName:reverse:comparator">
                        <td>{{ x.Id }}</td>
                        <td>{{ x.Name }}</td>
                        <td ng-show="sharedVariables.role === 'Owner'">{{ x.DoctorName }}</td>
                        <td ng-show="sharedVariables.role === 'Doctor'">{{ x.OwnerName }}</td>
                        <td>{{ getType(x.Type)}}</td>
                        <td>{{ calcAge(x.DateOfBirth) }}</td>
                        <td>{{ getGender(x.Gender)}}</td>
                        <td>{{ x.NextVisit }}</td>
                        <td><a type="button" class="btn btn-sm btn-primary" href="#/PatientPage/{{x.Id}}">View Pet</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <a type="button" class="btn btn-lg btn-primary pull-right" href="#/PatientPage" ng-show="sharedVariables.role === 'Owner'">Add Pet</a>
            </div>
        </div>
    </form>
</div>
