<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">Profile</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 editPanel">
        <form class="form-inline" name="userForm" ng-submit="submitUser(userForm.$valid)" novalidate>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2">Country:</div>
                <div class="col-sm-offset-1 col-sm-6">
                    <div ng-class="{ 'has-error' : userForm.country.$invalid && submitted }">
                        <input type="text" id="country" name="country" class="form-control" placeholder="Country" ng-model="model.Address.Country" ng-maxlength="30" required>
                        <div class="callout" ng-show="userForm.country.$invalid && submitted">
                            <div ng-show="userForm.country.$error.required && submitted">Please insert country</div>
                            <div ng-show="userForm.country.$error.maxlength && submitted">Country must not exceed 30 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2">City:</div>
                <div class="col-sm-offset-1 col-sm-6">
                    <div ng-class="{ 'has-error' : userForm.city.$invalid && submitted }">
                        <input type="text" name="city" class="form-control" placeholder="City" ng-model="model.Address.City" ng-maxlength="50" required>
                        <div class="callout" ng-show="userForm.city.$invalid && submitted">
                            <div ng-show="userForm.city.$error.required && submitted">Please insert city</div>
                            <div ng-show="userForm.city.$error.maxlength && submitted">City must not exceed 50 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2">Street Name:</div>
                <div class="col-sm-offset-1 col-sm-6">
                    <div ng-class="{ 'has-error' : userForm.streetName.$invalid && submitted }">
                        <input type="text" name="streetName" class="form-control" placeholder="Street Name" ng-model="model.Address.StreetName" ng-maxlength="50" required>
                        <div class="callout" ng-show="userForm.streetName.$invalid && submitted">
                            <div ng-show="userForm.streetName.$error.required && submitted">Please insert street name</div>
                            <div ng-show="userForm.streetName.$error.maxlength && submitted">Street name must not exceed 50 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2">Street Number:</div>
                <div class="col-sm-offset-1 col-sm-6">
                    <div ng-class="{ 'has-error' : userForm.streetNumber.$invalid && submitted }">
                        <input type="number" name="streetNumber" class="form-control" placeholder="#" ng-model="model.Address.StreetNumber" min="0" required>
                        <div class="callout" ng-show="userForm.streetNumber.$invalid && submitted">
                            <div ng-show="userForm.streetNumber.$error.required && submitted">Please insert street number</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-2 col-sm-2">Phone Number:</div>
                <div class="col-sm-offset-1 col-sm-6">
                    <div ng-class="{ 'has-error' : userForm.phoneNumber.$invalid && submitted }">
                        <input type="text" name="phoneNumber" class="form-control" placeholder="Phone number" ng-model="model.Phone" required ng-maxlength="15">
                        <div class="callout" ng-show="userForm.phoneNumber.$invalid && submitted">
                            <div ng-show="userForm.phoneNumber.$error.required && submitted">Please insert phone number</div>
                            <div ng-show="userForm.phoneNumber.$error.maxlength && submitted">Phone number must not exceed 15 characters</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>