<div class="container">
    <h2>Treatment Page</h2>
    <form>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Name</label> 
                <input type="text" class="form-control" id="nameInput" value="{{treatment.Animal.Name}}" disabled/></div>
            <div class="form-group col-sm-4">
                <label>Owner</label> 
                <input type="text" class="form-control" id="ownerInput" value="{{treatment.Animal.OwnerName}}" disabled/></div>
            <div class="form-group col-sm-2">
                <label>Gender</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" value="1" ng-model="treatment.Animal.Gender" disabled>M
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" value="2" ng-model="treatment.Animal.Gender" disabled>F
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label>Age</label> 
                <input type="text" class="form-control" id="AgeInput" value="{{ calcAge(treatment.Animal.DateOfBirth) }}" disabled/></div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label>Weight</label> 
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="treatment.Measurements.Weight">
                    <span class="input-group-addon">Kg</span>
                </div>
            </div>	
            <div class="form-group col-sm-2">
                <label>Pulse</label> 
                <input type="number" class="form-control" ng-model="treatment.Measurements.Pulse"/>
            </div>
            <div class="form-group col-sm-2">
                <label>Systolic BP</label> 
                <input type="number" class="form-control" ng-model="treatment.Measurements.SystolicBloodPressure"/>
            </div>
            <div class="form-group col-sm-2">
                <label>Diastolic BP</label>
                <input type="number" class="form-control" ng-model="treatment.Measurements.DiastolicBloodPressure" />
            </div>
            <div class="form-group col-sm-2">
                <label>Temperature</label> 
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="treatment.Measurements.Temperature">
                    <span class="input-group-addon">°C</span>
                </div>	
            </div>
            <div class="form-group col-sm-2">
                <div class='form-group'
                     moment-picker="treatment.Animal.NextVisit"
                     locale="en-gb"
                     format="DD/MM/YYYY"
                     min-view="year"
                     max-view="month"
                     autoclose="true">
                    <label>Date of next visit</label>
                    <input name="DateNextVisit" class="form-control" empty-to-null
                           required past psdate ng-model="treatment.Animal.NextVisit"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>	
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-lg btn-primary pull-right" ng-click="saveTreatment()">Save</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a data-toggle="tab" data-target="#treatmentsTab">Treatments</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" data-target="#vaccinesTab">Vaccines</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" data-target="#medicationsTab">Medications</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" data-target="#summaryTab">Summary</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="treatmentsTab">
            <table id="TreatmentsTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Treatment Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="treat in treatment.treatments">
                        <td>{{ treat.Name }}</td>
                        <td>{{ treat.Price }}$</td>
                        <td><button type="button" class ="btn btn-danger btn-sm" ng-click="deleteTreatment(treat.Name)">Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="newTreatment.Name" /></td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="newTreatment.Price">
                                <span class="input-group-addon">$</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary pull-right" ng-click="addTreatment()" id="TreatmentsButton">Add</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="vaccinesTab">
            <table id="VaccinesTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Vaccine Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vaccine in treatment.vaccines">
                        <td>{{ vaccine.Name }}</td>
                        <td>{{ vaccine.Price }}$</td>
                        <td><button type="button" class="btn btn-danger btn-sm" ng-click="deleteVaccine(vaccine.Name)">Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="newVaccine.Name" /></td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="newVaccine.Price">
                                <span class="input-group-addon">$</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary pull-right" ng-click="addVaccine()" id="VaccinesButton">Add</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="medicationsTab">
            <table id="MedicationsTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Dose</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="medication in treatment.medications">
                    <td>{{ medication.Name }}</td>
                    <td>{{ medication.Dose }}</td>
                    <td>{{ medication.Price }}$</td>
                    <td><button type="button" class="btn btn-danger btn-sm" ng-click="deleteMedication(medication.Name)">Delete</button></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" ng-model="newMedication.Name" /></td>
                    <td><input type="text" class="form-control" ng-model="newMedication.Dose" /></td>
                    <td>
                        <div class="input-group">
                            <input type="number" class="form-control" ng-model="newMedication.Price">
                            <span class="input-group-addon">$</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary pull-right" ng-click="addMedication()" id="MedicationButton">Add</button>
                </div>
            </div>
        </div>
        <div id="summaryTab" class="tab-pane">
            <table id="VaccinesTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Dose</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vaccine in treatment.vaccines">
                    <td>{{ vaccine.Name }}</td>
                    <td></td>
                    <td>{{ vaccine.Price }}$</td>
                </tr>
                <tr ng-repeat="treat in treatment.treatments">
                    <td>{{ treat.Name }}</td>
                    <td></td>
                    <td>{{ treat.Price }}$</td>
                </tr>
                <tr ng-repeat="medication in treatment.medications">
                    <td>{{ medication.Name }}</td>
                    <td>{{ medication.Dose }}</td>
                    <td>{{ medication.Price }}$</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Total Price: {{totalPrice}}$</th>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary pull-right" ng-click="print()"><i class="fa fa-print"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
