<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">{{pageTitle}}</h1>
    </div>
</div>
		
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover searchTable scrollableTable">
            <thead>
                <th ng-click="sortBy('Id')" class="col-sm-1">
                    <span class="sortorder" ng-show="propertyName === 'Id'" ng-class="{reverse: reverse}"></span>Id
                </th>
                <th ng-click="sortBy('FirstName')" class="col-sm-3">
                    <span class="sortorder" ng-show="propertyName === 'FirstName'" ng-class="{reverse: reverse}"></span>First Name
                </th>
                <th ng-click="sortBy('LastName')" class="col-sm-3">
                    <span class="sortorder" ng-show="propertyName === 'LastName'" ng-class="{reverse: reverse}"></span>Last Name
                </th>
                <th ng-click="sortBy('AddressToDispaly')" class="col-sm-3">
                    <span class="sortorder" ng-show="propertyName === 'AddressToDispaly'" ng-class="{reverse: reverse}"></span>Address
                </th>
                <th class="col-sm-2" colspan="2">
                    Actions
                </th>
            </thead>
            <tbody>
            <tr>
                <td class ="col-sm-1">
                    <input class="form-control" type="number" ng-model="model.id" ng-keyup="submitSearch()" />
                </td>
                <td class="col-sm-3">
                    <input class="form-control" type="text" ng-model="model.firstName" empty-to-null ng-keyup="submitSearch()" />
                </td>          
                <td class="col-sm-3">
                    <input class="form-control" type="text" ng-model="model.lastName" empty-to-null ng-keyup="submitSearch()"/>
                </td>
                <td class="col-sm-3">
                    <input class="form-control" type="text" ng-model="model.Address" empty-to-null ng-keyup="submitSearch()"/>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr ng-repeat="row in vets | orderBy:propertyName:reverse">
                <td class="col-sm-1">{{row.Id}}</td>
                <td class="col-sm-3">{{row.FirstName}}</td>
                <td class="col-sm-3">{{row.LastName}}</td>
                <td class="col-sm-3">{{row.AddressToDispaly}}</td>
                <td class="col-sm-1" ng-show="petId > -1"><a ng-click="setVetForPet(row.Id)">Set Vet</a></td>
                <td class="col-sm-1"><a href="#/VetPage/{{row.Id}}">View Vet</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>